
body {
  font-family: 'Georgia', serif;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50%;
}

a:link {
  color: #891900;
}

a:visited {
  color: #891900;
}

a:hover {
  color: #bf6900;
  text-decoration: underline;
}

a:active {
  color: #ba966a;
}

h1, h2, h3 {
  font-weight: normal;
}

.code {
  font-family: monospace;
  font-weight: bold;
  background-color: #eeeeee;
  padding: 2px;
  border-radius: 2px;
}

.big-line {
  background-color: black;
  display: block;
  height: 4px;
  width: 100%;
}

.small-line {
  background-color: black;
  display: block;
  height: 2px;
  width: 100%;
}