<style>
a:link {
  color: #ebebeb;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ebebeb;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #bf6900;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ba966a;
  background-color: transparent;
  text-decoration: underline;
}

body {
  font-family: 'Courier New', monospace;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}
</style>